<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/archives">Arsip Lengkap</a></li>
</ul>

<ul class="main-navigation">
  <li><a href="http://software.endy.muhardin.com">Teknologi Informasi</a></li>
  <li><a href="{{ root_url }}/categories/enterpreneur">Enterpreneurship</a></li>
  <li><a href="{{ root_url }}/categories/fotografi">Fotografi</a></li>
  <li><a href="{{ root_url }}/categories/lain-lain">Lain-lain</a></li>
</ul>

{% include custom/asides/about.html %}
